footer a{
    text-decoration: none;
    color: white;
}

footer h4{
    color: #F25D07;
}

.navbar-item:hover{
    color: #F25D07 !important;
}

footer a:hover{
    color: #F25D07;
}

nav img{
    height: 100px;
}

#home-content h1{
    font-size: 75;
    font-weight: 600;
    color: #F25D07;
} 

#home-content a{
    color: black;
    
}

.columns{
    padding-left: 5%;
    padding-right: 5%;
}

.column{
    padding-left: 5%;
    padding-right: 5%; 
}

